body {
  background-color: #404;
  background-image: url(07b6ad6a4b5ef10a40700edfe51876cf.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFFFFF;
  font-size: 1.8em; }

